@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.projects{
    background-color: #1A1A1D;
}

.col{
    flex: 0 0 33.3333333%;
}

.card-text{
    color: black
}

.card-title{
    font-family: 'Source Code Pro', monospace;
}

.card{
    margin-left: 20px!important;
    height: "45vw"!important
}

.card-image {
    width: 100%;
    height: 100%;
}

.card-body span{
    background-color: #e51400 !important;
    float: right;
}

.btn.btn-custom{
    background-color:#C3073F;
    color: white
}

